body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("images/table.gif");
  background-size: cover;
  text-align: center;
  color: white;
  font-weight: bold;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  width: 150px;
  font-weight: bold;
  background-color: goldenrod;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #016f32;
  margin-top: 2px;
  margin-bottom: 20px;
}

button:hover {
  background-color: red;
  color: white;
}
